
@{
    ViewBag.Title = "Color";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Color</h2>

<div id="colorGrid"></div>
<div id="colorContainer">
    <div data-options="dxTemplate: { name: 'colorTemplate' }">
        <div id="colorForm"></div>
        <div style="margin-top: 15px;float: right;">
            <div id="saveButton"></div>
            <div id="cancelButton"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        var colorStore = new DevExpress.data.CustomStore({
            load: function (loadOptions) {
                var deferred = $.Deferred();

                $.ajax({
                    url: "@Url.Action("GetAllColor", "Admin")",
                    success: function (result) {
                        deferred.resolve(result.data, { totalCount: result.totalCount });
                        //console.log(result.data);
                    },
                    error: function (e) {
                        deferred.reject("Data Loading Error");
                    },
                    timeout: 5000
                });

                return deferred.promise();
            },

            insert: function (values) {
                var deferred = $.Deferred();

                $.ajax({
                    url: "@Url.Action("AddEditColor", "Admin")",
                    method: "POST",
                    data: { id: key },
                    success: function (result) {
                        DevExpress.ui.notify("Insert is Successful.", "success", 3000);
                        refreshDataGgrid();
                        deferred.resolve(key);
                    },
                    error: function (e) {
                        deferred.reject("Data Loading Error");
                    },
                });

                return deferred.promise();
            },

            update: function (key, values) {
                var deferred = $.Deferred();

                $.ajax({
                    url: "@Url.Action("AddEditColor", "Admin")",
                    method: "POST",
                    data: { id: key, color: values },
                    success: function (result) {
                        DevExpress.ui.notify("Updating is Successful.", "success", 3000);
                        refreshDataGgrid();
                        deferred.resolve(key);
                    },
                    error: function (e) {
                        DevExpress.ui.notify(e.ErrorMessage, "error", 3000);
                        deferred.reject("Data Loading Error");
                    },
                });

                return deferred.promise();
            },

            remove: function (key) {
                var deferred = $.Deferred();

                $.ajax({
                    url: "@Url.Action("DisableColor", "Admin")",
                    method: "POST",
                    data: { id: key },
                    success: function (result) {
                        DevExpress.ui.notify("Remove is Successful.", "success", 3000);
                        refreshDataGgrid();
                        deferred.resolve(key);
                    },
                    error: function (e) {
                        deferred.reject("Data Loading Error");
                    },
                });

                return deferred.promise();
            }
        });

        var dataGrid = $("#colorGrid").dxDataGrid({
            dataSource: {
                store: colorStore
            },
            columns: [
                {
                    dataField: "Id",
                    visible: false
                },
                "Code",
                "Name",
                "Description",
                {
                    width: 200,
                    alignment: "center",
                    cellTemplate: function (container, options) {
                        $("<div />").dxButton({
                            text: "Edit",
                            disabled: !options.data.IsActive,
                            onClick: function (e) {
                                showColorPopUp(options.data)
                            }
                        }).appendTo(container);

                        if (!options.data.IsActive) {
                            $("<div />").dxButton({
                                text: "Enable",
                                onClick: function (e) {

                                    var result = DevExpress.ui.dialog.confirm("Are you sure?", "Enable " + options.data.Name);
                                    result.done(function (dialogResult) {
                                        if (dialogResult) {
                                            colorStore.update(options.data.Id, options.data);

                                        }
                                    });
                                }
                            }).appendTo(container);
                        }
                        else {
                            $("<div />").dxButton({
                                text: "Disable",
                                onClick: function (e) {
                                    //lookups.remove(options.data.Id);
                                    var result = DevExpress.ui.dialog.confirm("Are you sure?", "Disable " + options.data.Name);
                                    result.done(function (dialogResult) {
                                        if (dialogResult) {
                                            colorStore.remove(options.data.Id);
                                            //DevExpress.ui.notify("Confirmed", "success", 2000);
                                        }
                                    });
                                }
                            }).appendTo(container);
                        }
                    }
                }
            ],
            onToolbarPreparing: function (e) {
                var toolbarItems = e.toolbarOptions.items;

                toolbarItems.unshift({
                    widget: "dxButton",
                    location: "before",
                    options: {
                        text: "New",
                        icon: "add",
                        hint: "Add New Color",
                        onClick: function (arg) {
                            var newcolor = {
                                "Id": 0,
                                "Code": null,
                                "Name": null,
                                "Description": ""
                            };
                            showColorPopUp(newcolor);
                        }
                    }
                },
                {
                    widget: "dxSelectBox",
                    location: "before",
                    options: {
                        width: 100,
                        items: [{
                            value: "All",
                            text: "All"
                        }, {
                            value: "Enable",
                            text: "Active"
                        }, {
                            value: "Disable",
                            text: "InActive"
                        }],
                        displayExpr: "text",
                        valueExpr: "value",
                        value: "All",
                        onValueChanged: function (e) {
                            var dataGrid = $("#colorGrid").dxDataGrid("instance");

                            if (e.value == "All")
                                dataGrid.clearFilter();
                            else if (e.value == "Enable")
                                dataGrid.filter(["IsActive", "=", true]);
                            else if (e.value == "Disable")
                                dataGrid.filter(["IsActive", "=", false]);
                        }
                    },
                });

            }
        }).dxDataGrid("instance");

        $("#colorContainer").dxPopup({
            title: "Color",
            width: 500,
            height: 400,
            dragEnabled: false,
            closeOnOutsideClick: false,
            contentTemplate: "colorTemplate",
            onContentReady: function (e) {
                var form = $("#colorForm").dxForm({
                    readOnly: false,
                    showColonAfterLabel: true,
                    labelLocation: "top",
                    minColWidth: 300,
                    colCount: 1,
                    items: [
                        {
                            dataField: "Id",
                            visible: false
                        },
                        {
                            dataField: 'Code',
                            isRequired: true,
                        },
                        {
                            dataField: 'Name',
                            isRequired: true,
                        },
                        {
                            dataField: "Description",
                            editorType: "dxTextArea",
                            editorOptions: {
                                height: 90
                            }
                        },
                    ],
                    //onInitialized: onInitialized
                }).dxForm("instance");

                $("#saveButton").dxButton({
                    text: "Save",
                    onClick: function (e) {
                        var result = $("#colorForm").dxForm("instance").validate();

                        if (result.isValid) {
                            var data = {
                                "Id": $("#colorForm").dxForm("instance").option("formData").Id,
                                "code": $("#colorForm").dxForm("instance").getEditor("Code").option("value"),
                                "name": $("#colorForm").dxForm("instance").getEditor("Name").option("value"),
                                "description": $("#colorForm").dxForm("instance").getEditor("Description").option("value"),
                            };

                            colorStore.update(data.Id, data);
                            $("#colorContainer").dxPopup("hide");

                        }
                    }
                });

                $("#cancelButton").dxButton({
                    text: "Cancel",
                    onClick: function (e) {
                        $("#colorContainer").dxPopup("hide");
                    }
                });
            }
        });

        function showColorPopUp(data) {
            //console.log(data);
            $("#colorContainer").dxPopup("show");
            $("#colorForm").dxForm("instance").option("formData", data);
        }

        function refreshDataGgrid()
        {
            var dataGrid = $("#colorGrid").dxDataGrid("instance");
            dataGrid.refresh();
        }
    });
</script>
