
@{
    ViewBag.Title = "LookUp";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>LookUp</h2>

<div id="lookUpGrid"></div>
<div id="lookupContainer">
    <div data-options="dxTemplate: { name: 'lookupTemplate' }">
        <form id="lookupForm" >
            <div class="dx-fieldset">
                <input type="hidden" id="lookupId" />
                <div class="dx-field">
                    <div class="dx-field-label">Code</div>
                    <div class="dx-field-value"><div id="codeTextBox" name=Code></div></div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">EntityName</div>
                    <div class="dx-field-value"><div id="entityNameTextBox"></div></div>
                </div>
                <div class="dx-field">
                    <div class="dx-field-label">Description</div>
                    <div class="dx-field-value"><div id="descriptionTextBox"></div></div>
                </div>
            </div>
            <div>
                <div id="saveButton"></div>
                <div id="cancelButton"></div>
            </div>
        </form>    
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        var lookups = new DevExpress.data.CustomStore({
            load: function (loadOptions) {
                var deferred = $.Deferred();

                $.ajax({
                    url: "@Url.Action("GetLookUps", "Admin")",
                    success: function (result) {
                        deferred.resolve(result.data, { totalCount: result.totalCount });
                    },
                    error: function (e) {
                        deferred.reject("Data Loading Error");
                    },
                    timeout: 5000
                });

                return deferred.promise();
            },
        });


        var dataGrid = $("#lookUpGrid").dxDataGrid({
            dataSource: {
                store: lookups
            },
            columns: [
                {
                    dataField: "Id",
                    visible: false
                },
                "EntityName",
                "Code",
                "Description",
                {
                    width: 200,
                    alignment: "center",
                    cellTemplate: function (container, options) {
                        $("<div />").dxButton({
                            text: "Edit",
                            onClick: function (e) {
                                showLookUpPopUp(options.data)
                            }
                        }).appendTo(container);

                        $("<div />").dxButton({
                            text: "Delete",
                            onClick: function (e) {
                                //showLookUpPopUp(options.data)
                            }
                        }).appendTo(container);
                    }
                }
            ],
            onToolbarPreparing: function (e) {
                var toolbarItems = e.toolbarOptions.items;

                toolbarItems.unshift({
                    widget: "dxButton",
                    location: "before",
                    options: {
                        text: "New",
                        icon: "add",
                        hint: "Add New LookUp",
                        onClick: function (arg) {
                            showLookUpPopUp("")
                        }
                    }
                });

            }
        }).dxDataGrid("instance");

        $("#lookupContainer").dxPopup({
            title: "LookUp",
            width: 500,
            height: 400,
            dragEnabled: false,
            closeOnOutsideClick: false,
            contentTemplate: "lookupTemplate",
            onContentReady: function (e) {
                $("#codeTextBox").dxTextBox({
                    value: null,
                    placeholder: 'Code'
                }).dxValidator({
                    validationRules: [{
                        type: "required",
                        name: "Code"
                    }]
                });

                $("#entityNameTextBox").dxTextBox({
                    value: null,
                    placeholder: 'Entity Name'
                }).dxValidator({
                    validationRules: [{
                        type: "required",
                        name: "EntityName"
                    }]
                });

                $("#saveButton").dxButton({
                    text: "Save",
                    onClick: function (e) {
                        var result = e.validationGroup.validate();
                        console.log(result);

                        if (result.isValid) {
                            saveLookUp();
                            $("#lookupContainer").dxPopup("hide");
                            console.log("YES");
                        }
                    }
                });

                $("#descriptionTextBox").dxTextArea({
                    height: 90,
                    maxLength: 200,
                    value: null
                });


                $("#cancelButton").dxButton({
                    text: "Cancel",
                    onClick: function (e) {
                        //DevExpress.ui.notify("The OK button was clicked");
                        $("#lookupContainer").dxPopup("hide");
                    }
                });
            }
        });
    });

    function showLookUpPopUp(data) {
        var lookup = data;
        $("#lookupContainer").dxPopup("show");

        var codeTextbox = $("#codeTextBox").dxTextBox({}).dxTextBox("instance");
        codeTextbox.option("value", data.Code);

        var entityNameTextbox = $("#entityNameTextBox").dxTextBox({}).dxTextBox("instance");
        entityNameTextbox.option("value", data.EntityName);

        var descriptionNameTextbox = $("#descriptionTextBox").dxTextBox({}).dxTextBox("instance");
        descriptionNameTextbox.option("value", data.Description);

        $("#lookupId").val(data.Id);
    }

    function saveLookUp() {
        var codeTextbox = $("#codeTextBox").dxTextBox({}).dxTextBox("instance");
        var code = codeTextbox.option("value");

        var entityNameTextbox = $("#entityNameTextBox").dxTextBox({}).dxTextBox("instance");
        var entityName = entityNameTextbox.option("value");

        var descriptionNameTextbox = $("#descriptionTextBox").dxTextBox({}).dxTextBox("instance");
        var description = descriptionNameTextbox.option("value");

        var Id = $("#lookupId").val() == "" ? 0 : $("#lookupId").val();
        console.log(Id);
        $.ajax({
            url: "@Url.Action("AddEditLookUps", "Admin")",
            type: "POST",
            data: { code: code, id: Id, entityName: entityName, description: description },
            success: function (result) {
                if (result.Success) {
                    DevExpress.ui.notify("Saving is Successful.", "success", 3000);
                    var dataGrid = $("#lookUpGrid").dxDataGrid("instance");
                    dataGrid.refresh();
                }
                else {
                    DevExpress.ui.notify(result.ErrorMessage, "error", 3000);
                }
                //deferred.resolve(result.key);
            },
            error: function (e) {
                DevExpress.ui.notify("Saving is Fail.", "error", 3000);
                //deferred.reject("Data Updating Error");
            },
            //timeout: 5000
        });
    }
</script>