<connectionStrings>
  <add name="IscoreEntities" connectionString="metadata=res://*/Iscore.csdl|res://*/Iscore.ssdl|res://*/Iscore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5030.smarterasp.net;initial catalog=DB_A0B186_Iscore;persist security info=True;user id=DB_A0B186_Iscore_admin;password=h0ngk0ng;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="LogEntities" connectionString="metadata=res://*/LogModel.Log.csdl|res://*/LogModel.Log.ssdl|res://*/LogModel.Log.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=db.centralstationsoftware.co.nz;initial catalog=Log;persist security info=True;user id=uatappuser;password=rwnFrDbreNxc8mPyw;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>