@using Iscore.WebSite.Models
@{
    ViewBag.Title = "Log in";
}

  <!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- iCheck -->
<link rel="stylesheet" href="../plugins/iCheck/square/blue.css">
<!-- iCheck -->
<script src="../plugins/iCheck/icheck.min.js"></script>

<div class="login-box">
    <div class="login-logo">
        <a href=""><b>I</b>Score</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        @using (Html.BeginForm("Login", "Account", new { remembeMe = false, returnUrl = Request.QueryString["ReturnUrl"] }, FormMethod.Post, new { @class = "login-form", name = "login-form" }))
        {
            <div class="form-group has-feedback">
                <input id="userNameTextbox" type="email" name="userName" class="form-control" placeholder="Email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input id="passwordTextBox" type="password" name="password" class="form-control" placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox"> Remember Me
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <input id="signInButton" type="submit" class="btn btn-primary btn-block btn-flat" value="Sign In">
                    @*@Html.ActionLink("Sign In", "Login", "Account",  new { @class = "btn btn-primary btn-block btn-flat" })*@
                </div>
                <!-- /.col -->
            </div>
        }
        <div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                <i class="fa fa-facebook"></i> Sign in using
                Facebook
            </a>
            <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                <i class="fa fa-google-plus"></i> Sign in using
                Google+
            </a>
        </div>
        <!-- /.social-auth-links -->
        <a href="#">I forgot my password</a><br>
        <a href="register.html" class="text-center">Register a new membership</a>
    </div>
    <!-- /.login-box-body -->
</div>

<script type="text/javascript">
    $(document).ready(function () {
        console.log("111");

    });

    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>

<style>
    .form-control {
        max-width:none;
    }
</style>


@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")*@
}